body {
	font-family: Montserrat, Metrophobic, Arial, Helvetica, sans-serif;
	color: rgb(20, 20, 24);
	background: #fbfbfb;
}

a,
a h3 {
	color: inherit;
}

.cardrow {
	text-align: center;
	padding-bottom: 35px;
}

.jumbotron {
	color: #fff;
	background: var(--main-color);
	background-image: url('register.jpg');
	background-position: center;
	background-position-y: 47%;
	background-size: cover;
	border-radius: 0;
}

.jumbotron h1 {
	font-family: Jaapokki, Arial, Helvetica, sans-serif;
	line-height: 1.2;
	margin-bottom: -20px
	/*background: -webkit-linear-gradient(-45deg, #f06, #ffd700);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.jumbotron a div {
	/*color: rgb(20, 20, 20);*/
	font-size: 2em;
	/*background: white;*/
	display: inline-block;
	padding: 1em;
	border-radius: 5px;
}

.jumbotron a:hover {
	text-decoration: none;
	opacity: 0.8;
}

.card {
	width: 34rem;
	margin: 0 auto auto auto;
	float: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
	background: #fff;
	border-radius: 10px;
}

.card .card-img-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 0;
}

a:hover {
	color: inherit;
}

.btn {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 2rem;
	color: #fff;
	/*background-color: #823994;
	border-color: #823994;*/
	background-color: var(--main-color);
	border-color: var(--main-color);
	margin-bottom: 4rem;
}

.btn:hover {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
	cursor: pointer;
}

#bottom-bar {
	font-size: 12pt;
	background-color: #eee;
	padding: 15px;
	padding-top: 0;
}

.learn-more {
	/*font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;*/
	font-family: Montserrat, Metrophobic, Arial, Helvetica, sans-serif;
	font-display: swap;
  	font-weight: bold;
	text-align: center;
	margin-top: 100px;
	/*transition: background-color 0.4s;*/
}

#social {
	font-size: 2rem;
	padding: 15px;
}

.eventbrite_embed iframe {

   width: 95%;
   display: block;
   margin: auto;
   border-top: 1px solid silver


}

@media screen and (max-width: 767px) {

	.jumbotron h1 {
		font-size: 8rem;
	}

	/* .card {
		margin: 0 auto auto auto;
	} */

}

@media screen and (min-width: 768px) {

	.jumbotron h1 {
		font-size: 8rem;
	}

	#c1 {
		margin: 0 auto auto 0px;
	}

	#c2 {
		margin: 0 0px auto auto;
	}

}

@media screen and (min-width: 992px) {

	#c1, #c2 {
		margin: 0 auto auto auto;
	}
	
}
