body {
	font-family: Montserrat, Metrophobic;
	color: rgb(20, 20, 24);
	background: #fff;
}

a, a h3 {
	color: inherit;
}

#thankyou_message {
	text-align: center;
	margin: 10rem;
	display: none;
}
#thankyou_message h1 {
	margin-bottom: 4rem;
}

.jumbotron {
	color: #fff;
	background: var(--main-color);
	border-radius: 0;
}

.jumbotron h1 {
	font: 6em Jaapokki;
	/*background: -webkit-linear-gradient(-45deg, #f06, #ffd700);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.jumbotron a div {
  /*color: rgb(20, 20, 20);*/
  font-size: 2em;
  /*background: white;*/
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
}

.jumbotron a:hover {
  text-decoration: none;
  opacity: 0.8;
}

#steps {
	margin-bottom: 2rem;
}

#steps h2 {
	font-weight: bold;
}

#steps a {
	color: #999;
}

#steps a:hover, #steps a h3:hover {
	color: #999;
}

a:hover {
	color: inherit;
}

#steps .col {
	padding: 2rem;
}

.form-check {
	text-align: left;
}
label, .form-check-label {
	font-weight: normal;
}

.checkbox {
	margin: 3rem 0 3rem 0;
}

.btn {
	font-family: Montserrat;
	font-size: 2rem;
	color: #fff;
	/*background-color: #823994;
	border-color: #823994;*/
	background-color: var(--main-color);
	border-color: var(--main-color);
	margin-bottom: 4rem;
}

.btn:hover {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
	cursor: pointer;
}

.colWithBorder {
	border-right: 1px solid rgb(20, 20, 24);
}

.form-group {
	margin: 0;
}

.grade, .middle-school, .high-school {
	margin-bottom: 2rem;
	display: none;
}

.programming-experience, .t-shirt-size {
	margin-top: 2rem;
}

.select-buttons label {
	font-size: 1rem;
	color: inherit;
	background-color: #fff;
	border-color: inherit;
	margin: 1rem 0 2rem 0;
}

.select-buttons label:hover {
	background-color: #fff;
	border-color: inherit;
}

.schools-group {
	color: rgb(20, 20, 24);
	border-top: 1px solid rgb(20, 20, 24);
	border-bottom: 1px solid rgb(20, 20, 24);
	padding-top: 1rem;
	margin: 1rem 0 2rem 0;
}

.schools-group h4 {
	font-size: 1rem;
	margin-bottom: 2rem;
}

#submission-controls button {
	font-size: 1.4rem;
}

#bottom-bar {
	font-size: 1rem;
}
