body {
	font-family: Montserrat, Metrophobic, Arial, Helvetica, sans-serif;
	color: rgb(20, 20, 24);
	background: #fbfbfb;
}

a,
a h3 {
	color: inherit;
}

.nav {
	z-index: 99;
}

iframe body {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.modal-title {
	display: inline;
}

.modal-footer {
	height: 75px;
}

.modal {
	text-align: center;
}

.cardrow {
	text-align: center;
	padding-bottom: 35px;
}

.jumbotron {
	color: #fff;
	background: var(--main-color);
	background-image: url('register.jpg');
	background-position: center;
	background-position-y: 47%;
	background-size: cover;
	border-radius: 0;
}

.jumbotron h1 {
	font-family: Jaapokki, Arial, Helvetica, sans-serif;
	line-height: 1.2;
	margin-bottom: -20px
	/*background: -webkit-linear-gradient(-45deg, #f06, #ffd700);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.jumbotron a div {
	/*color: rgb(20, 20, 20);*/
	font-size: 2em;
	/*background: white;*/
	display: inline-block;
	padding: 1em;
	border-radius: 5px;
}

.jumbotron a:hover {
	text-decoration: none;
	opacity: 0.8;
}

.card {
	width: 34rem;
	margin: 0 auto auto auto;
	float: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
	background: #fff;
	border-radius: 10px;
}

.card .card-img-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 0;
}

a:hover {
	color: inherit;
}

.btn {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 2rem;
	color: white;
	/*background-color: #823994;
	border-color: #823994;*/
	background-color: var(--main-color);
	border-color: var(--main-color);
	margin-bottom: 4rem;
}

/*.btn:hover {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
	color: white;
	cursor: pointer;
}

.btn:focus {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
	color: white;
}*/

.btn:hover, .btn:focus {
	opacity: .9;
	color: white;
}

#sigbtn:hover {
	opacity: .85;
}

#bottom-bar {
	font-size: 12pt;
	background-color: #eee;
	padding: 15px;
	padding-top: 0;
}

.learn-more {
	/*font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;*/
	font-family: Montserrat, Metrophobic, Arial, Helvetica, sans-serif;
	font-display: swap;
  	font-weight: bold;
	text-align: center;
	margin-top: 100px;
	/*transition: background-color 0.4s;*/
}

#social {
	font-size: 2rem;
	padding: 15px;
}

.eventbrite_embed iframe {
   width: 95%;
   display: block;
   margin: auto;
   border-top: 1px solid silver
}

#container {
	margin-top: 50px;
	border: 1px solid lightgray;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
}

.file {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	padding: 0;
	max-width: 750px;
	color: #4f4f4f;
	background-color: #fafafa;
	border: .5px solid rgb(195, 203, 204);
	border-radius: 3px;
	width: fit-content;
	margin-left: 5%;
}

.file ~ .file {
  	margin-top: 3px;
}

.name {
	max-width: 650px;
	padding: 0;
	margin-right: 15px;
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.x {
	width: 25px;
	padding-right: 10px;
	stroke: rgb(155, 163, 164);
	fill: transparent;
	stroke-linecap: round;
	stroke-width: 5;
	height: 30px;
	display: inline-block;
	margin: 0; 
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
    max-width: 80%;
    font-size: 2rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: white;
    background-color: var(--main-color);
}

#filebutton:hover {
	opacity: .9;
}

svg {
	position: relative;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.content {
	font-family: "Metrophobic";
	width: 100%;
	max-width: 800px;
	text-align: center;
	margin: 15px auto 0 auto;
	padding: 0;
}

.box {
	background-color: rgba(240, 220, 222, .4);
	height: 244px;
	position: relative;
	border: 2px dashed #df888c;
	border-radius: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 767px) {

	.jumbotron h1 {
		font-size: 8rem;
	}

	.modal-dialog {
		margin-top: 7%;
	}

	/* .card {
		margin: 0 auto auto auto;
	} */

}

@media screen and (min-width: 768px) {

	.jumbotron h1 {
		font-size: 8rem;
	}

	#c1 {
		margin: 0 auto auto 0px;
	}

	#c2 {
		margin: 0 0px auto auto;
	}

}

@media screen and (min-width: 992px) {

	#c1, #c2 {
		margin: 0 auto auto auto;
	}
	
}
