@font-face {
	font-family: Jaapokki;
	font-display: swap;
  	src: url('fonts/Jaapokki-Regular.ttf'), url('/fonts/Jaapokki-Regular.ttf');
}

@font-face {
	font-family: Montserrat;
	font-display: swap;
  	src: url('fonts/Montserrat-Regular.ttf'), url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('fonts/Montserrat-Bold.ttf'), url('/fonts/Montserrat-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Metrophobic;
	font-display: block;
  	src: url('fonts/Metrophobic-Regular.ttf'), url('/fonts/Metrophobic-Regular.ttf');
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/*ADD TRANSITION TO MAKETRANSLUCENT ITEMS*/

/*MAKE WAVE HEIGHT DEPEND ON JS*/


svg {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.bounce {
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

.form-control {
	box-shadow: 0 1px 2px silver;
}

:root {
	--main-color: rgb(252, 61, 70);
  	--secondary-color: rgb(254, 176, 71);
  	--third-color: rgb(252, 61, 70);
	--complement-color: rgb(251, 251, 251);
	
	/*#53ab94;*/

	--subtle-font-color: #888;
}

body {
  	background: var(--main-color);
	min-width: 440px;
	overflow-x: hidden;
}

.hideme {
	opacity:0;
	-webkit-transition: opacity 1s, transform 0.5s;
	-moz-transition: opacity 1s, transform 0.5s;
	-o-transition: opacity 1s, transform 0.5s;
	transition: opacity 1s, transform 0.5s;
  	transform: translateY(20px);
}

.showme {
	opacity:1 !important;
  	transform: translateY(0);
}

/**********NAVBAR**********/
.nav {
	position: fixed;
	width: 100%;
	height: 4.4em;
	z-index: 10000;
  	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.nav ul {
	position: relative;
	left: 10rem;
}

.nav a {
  	color: #fff;
	font: 1.7rem Montserrat, Verdana, Arial, sans-serif;
	font-display: block;
  	text-transform: uppercase;
	padding-right: 2em;
}

.nav a:hover {
	text-decoration: none;
}

.nav li {
  	display: inline;
}

#video {
	margin-top: -68px;
}

.vid-container {
	opacity: 0;
}

.overlay {
	background-color: rgba(255, 179, 71, .13);
	display: block;
	position: absolute;
	margin-top: -48px;
	height: 100%;
	width: 100%;
}

.wave-container {
	opacity: 0;
}

.wave {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 0;
}
/**********PANELS**********/

/*GENERAL*/
.row {
	margin-left: 0;
	margin-right: 0;
}

.main, .info, .faq, .map, .workshops, .sponsors .contact {
  	position: relative;
}

.main {
  	z-index: 0;
}

.info {
  	z-index: 10;
}

.faq {
  	z-index: 20;
}

.contact {
	z-index: 30;
	font-family: Montserrat, Verdana, Arial, sans-serif;
}

#namef, #emailf, #contactq {
	background-color: rgb(252, 252, 252)
}

.sponsors {
  	z-index: 40;
}

.main .row, .info .row, .faq .row, .workshops .row, .sponsors .row, .map .row {
	font-family: Montserrat, Verdana, Arial, sans-serif;
	font-display: swap;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.row h1 {
	font-size: 7rem;
}

/*MAIN*/
.main {
  	background: var(--main-color);
	background-size: cover;
	text-align: center;
}

.main .row {
	color: #fff;
	background-color: transparent;
}

.pop-in {
  	animation: pop-in 1s ease forwards;
	opacity: 0;
}

.logo-text {
	animation-delay: 0.2s;
}

.register-text {
	animation-delay: 0.6s;
}

#button-text a div {
	background-color: rgba(120, 120, 120, .4); /*-*/
	border-color: rgba(250, 250, 250, .93); /*-*/
	font-size: 16pt;
	border-width: 3px;
	border-radius: 50px;
}

.main h1 {
	color: #fbfbfb;
	font-size: 20rem;
	font-family: Jaapokki, "Trebuchet MS", Arial, sans-serif;
	font-display: swap;
	display: inline;
	
	padding-bottom: -80px;
	white-space: nowrap;
	overflow: hidden;
}

.main a div {
	color: white;
	font-size: 4rem;
	display: inline-block;
	padding: 0.6em;
	border: 4px solid white;
}

.main a:hover {
  	text-decoration: none;
  	opacity: 0.8;
}

.header {
	color: white;
}

.header h4 a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/*INFO*/
.info {
  	color: white;
	text-align: center;
  	background: var(--main-color);
}

.info h1 {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.info span {
	font-weight: bold;
}

.info .box {
	margin-bottom: 20px;
}

.info .items, .info .schedule {
	text-align: left;
	padding: 20px;
}

.info .schedule h3:first-child, .info .items h3:first-child {
	margin-top: 0;
}

.info .schedule h3:last-child, .info .items h3:last-child {
	margin-bottom: 20px;
}

#mobileSchedule {
  	display: none;
}

.scheduleTitle {
  	font-size: 0.7rem;
  	text-align: right;
}

.contact {
	background-color: var(--complement-color);
	color: white;
	text-align: center;
	margin-right: 0;
	background-size: cover;
}

.contacthl {
	box-shadow: 0 0 2px 2px #4f75a5;
	background-color: #edf3ff !important;
	-webkit-appearance: none;
}

.contactc {
	cursor: not-allowed;
}

#contactclear {
	background-color: transparent;
	float: right;
	color: rgba(0,0,0,.25);
}

/*FAQ*/
.faq {
  	color: white;
	text-align: center;
	margin-right: 0;
  	background-color: var(--secondary-color);
	background-size: cover;
}

.faq .header h1, .workshops .header h1 {
	font-weight: bold;
	color: white;
}

.faq a {
  	color: white;
	font-weight: bold;
}

.faq .qa {
  	color: white;
	text-align: left;
	background-color: transparent;
	padding: 40px;
	margin: 40px 0 40px 0;
}

.faq .qa:hover {
  	transform: translate(-5px, -5px);
}

.faq .qa h3:first-child {
	color: white;
	font-size: 1.6em;
	font-weight: bold;
	padding-bottom: 15px;
	margin-top: 0;
}

.faq .qa h3:last-child {
	margin-bottom: 0;
}

/*WORKSHOPS*/
.workshops {
	background-color: var(--third-color);
	font-family: Montserrat, Verdana, Arial, sans-serif;
}

.card {
	width: 22rem;
	margin: 10px 0 25px 0;
	display: inline-block;
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.20), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
	background: #fff;
	font-size: 28px;
	border-radius: 10px;
	padding-bottom: 15px;
	position: relative;
}

.card img {
	margin: 15px auto 5px auto;
	height: auto;
}

.card-overlay {
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	max-width: 22rem;
	border-radius: 10px;
	color: white;
	font-size: 16pt;
	overflow: hidden;
}

#ptable {
	display: table;
	height: 100%;
}

.card-overlay p {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	padding: 0 10px;
}

.card-overlay:hover, .card-overlay:active {
	opacity: 1;
	background-color: rgba(90, 90, 90, 0.85);
}

.card-overlay:hover ~ .card-body p {
	color: gray;
}

.robbtn {
	font-family: Montserrat, Verdana, Arial, sans-serif;
	font-size: 18px;
	color: white;
	background-color: rgba(150,150,150,.1);
	border-color: white;
	padding: 6px 10px;
	border-radius: 8px;
}

.robbtn:hover, .robbtn:focus, .robbtn:active {
	color: white;
	background-color: rgba(150,150,150,.3);
}

.modal-title {
	display: inline;
}

.modal-footer {
	height: 75px;
}

.modal {
	text-align: center;
}

#btnsubmit {
	font-family: Montserrat, Verdana, Arial, sans-serif;
	font-size: 2rem;
	padding: 6px 10px;
	margin-top: 5px;
	background-color: #232121;
	color: white;
	border: 1px solid #232121;
	border-radius: 6px;
	text-align: right;
}

/*SPONSORS*/
.sponsors {
  	color: black;
	text-align: center;
	/*background-color: var(--third-color);*/
	background-color: rgb(255, 229, 123);
	/*background-color: rgb(165, 66, 70);*/
	/*background-color: rgb(220, 110, 114);*/
}

.sponsors h1 {
	color: white;
}

.sponsors .row {
	margin-bottom: 2em;
}

.sponsors a {
	text-decoration: none;
	color: black;
}

.sponsors a:hover {
  	text-decoration: none;
}

.sponsors .logos img {
  	color: white;
  	font-size: 2em;
	display: inline-block;
	/*max-height: 200px;*/
  	padding: 1rem;
	margin: 2rem;
  	transition: transform 0.5s;
}

#main-text, #button-text {
	background: rgba(0,0,0,0);
	color: var(--main-color);
	position: absolute;
	right: 0; bottom: 0; left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

#map {
	height: 400px;
	width: 100%;
}

/*.sponsors .logos img:hover {
  transform: translate(-5px, -5px);
}*/

/**********BOTTOM BAR**********/
.learn-more {
	/*font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;*/
	font-family: Montserrat, Verdana, Arial, sans-serif;
	font-display: swap;
  	font-weight: bold;
	text-align: center;
	/*transition: background-color 0.4s;*/
}

.make-translucent:hover, .learn-more .make-translucent:hover {
	opacity: 0.7;
}

.make-translucent:active, .learn-more .make-translucent:active {
	opacity: 0.4;
}

#bottom-bar {
	font-size: 1.6rem;
	background-color: #eee;
  	padding: 0;
}

#social {
	font-size: 2rem;
	padding: 15px;
}

#bottom-bar a {
	color: var(--subtle-font-color);
}

.fa {
    padding: 0 20px 0 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: -10px;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

/**********MEDIA QUERIES**********/

/*PHONES*/
@media screen and (max-width: 767px) {
	body {
		font-size: 20px;
	}

	.logo-text {
		margin-top: -50px;
	}

	#schedule-text, #faq-text {
		font-size: 3em;
	}

	#intro {
		margin-top: -10px;
		padding-top: -35px;
	}

	#date {
		padding-top: 70px;
	}

	#drop {
		margin: 600px 0 0 0;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 23px;
	}

	.nav {
		display: none;
	}

	#button-text a div {
		background-color: rgba(180, 180, 180, .2);
	}

	.row h1 {
		font-size: 3.4em;
	}

	.main .row {
		padding-top: 20px;
		padding-bottom: 0px; /*20*/
	}

	.main h1 {
		font-size: 10rem;
	}

	#main-text, #button-text {
		top:-10%; /*-100*/
	}

	#mobileSchedule {
		display: inherit;
	}

	#desktopSchedule, #scheduleScroll {
		display: none;
	}
	
	#video {
		margin-top: -30px;
	}
	.vid-container {
		opacity: 0;
	}

	.sponsors h1 {
		font-size: 2.2em;
	}

	.sponsors .logos img {
		max-height: 150px;
	}

	#button-text a div {
		font-size: 14pt;
	}

	.card-columns {
		column-count: 2;
	}

	#decipher {
		width: 80%;
	}

	#rb {
		padding: 20px;
	}

}

/*TABLETS*/
@media screen and (min-width: 768px) {
    body {
		font-size: 19px;
	}

	.nav {
		display: none;
	}

	#intro {
		margin-top: -2px;
		padding-top: 0px;
	}

	#date {
		padding-top: 50px;
		font-size: 38px;
	}

	#drop {
		margin: 570px 0 0 0;
	}

	.main .row {
		padding-bottom: 0em; /*10*/
	}

	#main-text, #button-text {
		top: -10%; /*-300*/
	}

	.main h1 {
		font-size: 18rem;
	}

	#mobileSchedule {
		display: inherit;
	}

	#desktopSchedule, #scheduleScroll {
		display: none;
	}
	
	#video {
		margin-top: -50px;
	}

	.sponsors .logos img {
		max-height: 150px;
	}

	h3, h4 {
		font-size: 22px;
	}

	.card-columns {
		column-count: 3;
	}

	#decipher {
		width: 55%;
	}

	#ji {
		opacity: 0;
	}

}

/*COMPUTERS*/
@media screen and (min-width: 992px) {
	.faq .qa h3:first-child {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 19px;
		line-height: 1.25;
	}
	
	body {
		font-size: 12px;
	}

	.nav {
		display: inherit;
	}

	#intro {
		margin-top: 0px;
		padding-top: 0px;
		font-size: 22px;
	}

	#date {
		padding-top: 65px;
	}

	.main .row {
		padding-bottom: 0em; /*10*/
	}

	#mobileSchedule {
		display: none;
	}

  	#desktopSchedule, #scheduleScroll {
    	display: inherit;
	}

	.card-columns {
		column-count: 3;
		margin-bottom: 0;
	}

}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0); }
	40% {
		-webkit-transform: translateY(-30px); }
	60% {
		-webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0); }
	40% {
		-moz-transform: translateY(-30px); }
	60% {
		-moz-transform: translateY(-15px); } }
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0); }
	40% {
		-webkit-transform: translateY(-30px);
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-o-transform: translateY(-30px);
		transform: translateY(-30px); }
	60% {
		-webkit-transform: translateY(-15px);
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-o-transform: translateY(-15px);
		transform: translateY(-15px); } }
