body {
	font-family: Montserrat, Metrophobic, Arial, Helvetica, sans-serif;
	color: rgb(20, 20, 24);
	background: #fbfbfb;
}

a,
a h3 {
	color: inherit;
}

.jumbotron {
	color: #fff;
	background: var(--main-color);
	background-image: url('register.jpg');
	background-position: center;
	background-position-y: 47%;
	background-size: cover;
	border-radius: 0;
}

.jumbotron h1 {
	font-family: Jaapokki, Arial, Helvetica, sans-serif;
	line-height: 1.4;
	margin-bottom: -15px;
	margin-top: -5px;
	/*background: -webkit-linear-gradient(-45deg, #f06, #ffd700);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.jumbotron a div {
	/*color: rgb(20, 20, 20);*/
	font-size: 2em;
	/*background: white;*/
	display: inline-block;
	padding: 1em;
	border-radius: 5px;
}

.jumbotron a:hover {
	text-decoration: none;
	opacity: 0.8;
}

.card {
	width: 22rem;
    margin: 10px 0 25px 0;
    display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    font-size: 28px;
    border-radius: 10px;
	padding-bottom: 15px;
	position: relative;
}

.card img {
	/*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    margin-top: 15px;
    height: auto;
    margin-bottom: 5px;
}

.card:hover, .card:active {
	opacity: .7;
}

.card-overlay {
	opacity: 0;
	position: absolute;
    height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	max-width: 22rem;
	border-radius: 10px;
	color: white;
	font-size: 16pt;
	overflow: hidden;
}

#ptable {
	display: table;
	height: 100%;
}

.card-overlay p {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	padding: 0 10px;
}

.card-overlay:hover, .card-overlay:active {
	opacity: 1;
	background-color: rgba(0, 0, 0, .85);
}

a:hover {
	color: inherit;
}

.btn {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 2rem;
	color: #fff;
	/*background-color: #823994;
	border-color: #823994;*/
	background-color: var(--main-color);
	border-color: var(--main-color);
	margin-bottom: 4rem;
}

.btn:hover {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
	cursor: pointer;
}

#bottom-bar {
	font-size: 12pt;
	background-color: #eee;
	padding: 15px;
	padding-top: 0;
}

.learn-more {
	/*font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;*/
	font-family: Montserrat, Metrophobic, Arial, Helvetica, sans-serif;
	font-display: swap;
  	font-weight: bold;
	text-align: center;
	margin-top: 100px;
	/*transition: background-color 0.4s;*/
}

#social {
	font-size: 2rem;
	padding: 15px;
}

@media screen and (max-width: 767px) {

	.jumbotron h1 {
		font-size: 95px;
		margin-top: -20px;
		margin-bottom: 0;
	}

	.card-columns {
        column-count: 2;
    }

}

@media screen and (min-width: 768px) {

	.jumbotron h1 {
		font-size: 8rem;
	}
    
    .card-columns {
        column-count: 3;
    }

}

@media screen and (min-width: 992px) {

	#c1, #c2 {
		margin: 0 auto auto auto;
    }
    
    .card-columns {
        column-count: 4;
    }


	
}
